/* Full page center */
.success-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #ffffff;
}

/* Main success card */
.success-card {
  width: 85%;
  max-width: 900px;
  background: #e9ffe6; /* soft green tone */
  border-radius: 30px;
  padding: 50px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.1);
  border: 8px solid rgba(200, 200, 200, 0.5);
  text-align: center;
}

/* Confetti Icon */
.success-icon {
  width: 130px;
  margin-bottom: 15px;
}

/* Heading */
.heading {
  font-size: 32px;
  font-weight: 700;
  color: #252525;
  margin-bottom: 2px;
}

/* Success message */
.success-message {
  font-size: 18px;
  color: #333;
  max-width: 600px;
  margin-bottom: 30px;
  line-height: 1.5;
}
