.categories-box {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}


.category-card {
  background-color: #003554;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  width: 180px;
  cursor: pointer;
  transition: 0.2s;
}

.category-card:hover {
  background-color: #006494;
}

.category-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.category-card p {
  font-size: 16px;
  font-weight: 500;
  color: #00A6FB;
}
