/* SIDEBAR PANEL WRAPPER */
.sidebar {
  width: 280px;      /* wider sidebar */
  flex-shrink: 0;    /* squeeze nahi hogi */
  padding: 22px 20px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid #f1f1f1;
  font-family: "Inter", sans-serif;
  min-height: 200px;
  align-self: flex-start !important;
  background-color:#ffff;
}

/* SECTION TITLE */
.filter-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #333;
}


/* SELECT DROPDOWN */
.sidebar select {
  width: 100%;
  padding: 10px 32px 10px 12px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  background: #fafafa;
  font-size: 14px;
  margin-bottom: 20px;
}
.sidebar select:focus {
  border-color: #ff6600;
  outline: none;
}

/* RANGE SLIDERS */
.sidebar input[type="range"] {
  width: 100%;
  margin: 12px 0;
  accent-color: #ff6600; /* Orange theme */
}

.price-label {
  font-size: 16px;
  color: #d56000;
  margin-bottom: 20px;
  font-weight: 500;
}

/* APPLY BUTTON */
.apply-btn {
  width: 100%;
  padding: 12px 0;
  border-radius: 25px;
  background: #ff6600;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}

.apply-btn:hover {
  background: #e65500;
}

/* FILTER GROUP SPACING */
.filter-group {
  margin-bottom: 25px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
}

