/* FIX ALL OVERFLOW FROM BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* stops any horizontal overflow */
  background: #f3f3f3; /* same as hero section */
}
